html {
  height: 100%;
  width: 100%;
  * {
     font-family: "Noto Sans", "Segoe UI", -apple-system, Arial, Helvetica, sans-serif;
  }
  body {
    background-color: #222;
    color: white;
  }
  a {
    color: cyan;
  }
  hr {
    border-top: 5px dashed #444;
    border-radius: 5px;
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
  }
  #desc {
    font-size: 0.75em;
    color: #aaa;
    font-style: italic;
  }
  #selectform {
    line-height: 5px;
  }
}
